In [ ]:
Variavel1 = str(3) # string
Variavel2 = 3 # inteiro
Variavel3 = "3" # string
Variavel4 = 3.5 # Float, double do java

In [ ]:
print(type(Variavel1))
print(type(Variavel2, Variavel2))
print(type(Variavel3))
print(type(Variavel4))

In [ ]:
nome = "Breno"

In [ ]:
print(nome[0])
print(nome[0,3])

In [ ]:

varBoolean = False
varBoolean2 = True

In [ ]:
print(varBoolean, " - " , =varBoolean2)

In [ ]:
seuNome = "Breno"
seuEmail = "meuemail@email.com"

In [ ]:
print(seuNome[5])
print(len(seuNome))
print(seuEmail.split('@'))

In [ ]:
nome = "Breno"
idade = 20
sobrenome = "de Mello"
nomeCompleto = nome + " " + sobrenome
print(nomeCompleto)

In [ ]:
"{} {}, {}", format(nome, sobrenome, idade)

In [ ]:
if nome == "breno":
    print(nome)

In [ ]:
if idade < 18
    print('menor de idade')
else
    print('maior de idade')

In [ ]:
texto = "Eu amo java, e Java Ã© o melhor"
texto.replace("Java", "Python)

In [ ]:
text.find("amo")
text.upper()
text.lower()

In [ ]:
cores = ['amarelo', 'verde', 'vermelho']
cores.append('preto')
print(cores)
print(len(cores))
cores[3] = 'azul'
print(cores)

In [ ]:
cores.append(['banana', 'uva'])
print(cores)

In [ ]:
frutas = ['banana', 'uva', 'pera']
frutas.remove('pera')
frutas.pop(0)
print(frutas)

In [ ]:
minha_tupla = ('banana', 'pera', 'uva')
print(minha_tupla)

In [ ]:
meu_dicionario = {
    'nome': 'Breno',
    'sobrenome: 'de Mello',
    'idade': 22,
    'semestre': ['materia1, materia2, materia3],
    'gostos': frutas
}
print(meu_dicionario)

In [ ]:
meu_dicionario['idade']

In [ ]:
lista_de_numeros = [1, 7, 23, 5, 80, 6]
max(lista_de_numeros)
len(lista_de_numeros)
nin(lista_de_numeros)
sum(lista_de_numeros)

In [ ]:
import numpy

numpy.mean(lista_de_numeros)

In [ ]:
if meu_dicionario['idade'] < 18 and meu_dicionario['idade'] == 18:
    print('maior de idade')

if meu_dicionario['idade'] < 18 or (meu_dicionario['idade'] + 3 == 18):   
    print('maior de idade')

In [ ]:
def soma_valores('valor1' 'valor2'):
    resultado = valor1 + valor2
    return resultado
soma_valores(1, 2)

def soma_multi(valor1, valor2, multiplicador=None):
    if multiplicador:
       return (valor1 + valor2) * multiplicador
    else:
       return valor1 + valor2

soma_multi(1, 2)

def calcula_freelance(horas, valor, taxas=None):
    total = horas * valor
    if taxas:
       return total + taxas
    return total

calcula_freelance(5, 40, 15)

def tabuada(valor):
    if valor >= 1 and valor <= 9
    for i in range(0, 11):
       print(1* valor)
    else:
       print('valor invalido')

tabuada(2)